.active-green{
    color: #8bc34a!important;
   
}
.navbar a:hover{
    color: #8bc34a!important;
}
.navbar{
    margin-top: 15px!important;
}
.navbar .navbar-brand{
    font-size: 30px;
    padding-right: 10px;
}
.mt-40{
    margin-top: 40px!important;
}
.detail-head h1{
    line-height: 80px;
    font-size: 60px;
    font-weight: bolder;
}
.detail-head p{
    font-size: 17px;
    margin: 10px;
}
 button.btn-sabz{
    color: #fff;
    background-color: #8bc34a;
    border-radius: 30px;
    margin-top: 40px;
    transition: .3s;
    border: none;
    padding: 10px;
}
 button.btn-sabz span,i{
    padding: 4px;
}
 button.btn-sabz:hover{
    background-color: #709743;
}
.element-section{
    background-color: #052335;
    height: auto;
}

.element-section .card-element .card-head{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
} 
.element-section .card-element .card-head i{
    color: #8bc34a;
}
.element-section .card-element{
    background-color: #1c2f3c;
    margin: 15px;
    color: #fff;
}
.element-section .card-body{
    padding-right: 40px;
    text-align: center;
}
.element-section .card-head{
    margin-top: 20px;
}

.color-star{
    color: #8bc34a;
}

.p-20{
    padding-bottom: 40px;

}
.mt-80{
    margin-top: 80px!important;
}
.mb-80{
    margin-bottom: 80px!important;
}
.mb-40{
    margin-bottom: 40px!important;
}

.off-section{
    background-color: #1c2f3c;
    height: auto;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.product-down .btn-sabz{
    margin: 0!important;

    padding: 2px;
}
.product-down{
    padding: 10px;
    margin: 0 auto!important;
}

.card-shadow{
    box-shadow: 0px 0px 10px 0px rgb(40 40 40 / 10%);
    margin: 0 auto;
}
.comment-sec{
    margin-top: 150px;
}

.img-gray{
    opacity: .5;
}

.brands img{
    filter: grayscale(1);
    transition: .3s;
    margin: px;
}
.brands img:hover{
    filter: grayscale(0);
}
.brands{
    justify-content: center;
    align-items: center;
}

.footer-product{
    display: flex;
    align-items: center;
}
.footer-product img{
    width: 5em;
    height: 5em;
    padding: 7px;
}
.footer-style{
    background-color: #052335;
    color: #fff;
    padding: 30px;
}



.footer-style li a{
    text-decoration: none;
    color: #fff;
}
.footer-style ul li{
    margin-bottom: 5px;
}

.social-media a{
    color: #fff;
    padding: 10px;
    transition: .3s;
}
.social-media a:hover{
    color: #8bc34a;
}

@media only screen and (max-width:900px) {
    .comment-sec{
        margin-top: 40px;
    }   
    .off-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
    }
}
@media only screen and (max-width:768px){
    .footer-product{
        justify-content: right;
        align-items: center;
    }

    .social-media{
        display: none;
    }
}